header {
    padding-block: 32px;
    font: var(--text-MD);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile {
    display: flex;
    
    gap: 32px;
    
}

#profile h1 {
    font: var(--text-LG);
    color: var(--primary-color);
    margin-bottom: 8px;
}


#profile > div {
    max-width: 384px;
}

#info {
    list-style: none;
    width: 280px;
    

    display: flex;
    flex-direction: column;
    gap: 16px;
}

#info li {
    display: flex;
    align-items: center;
    gap: 8px;

    margin-left: 32px;
    
}

