.hero {
    max-width: 80rem;
    width: 100%;
    padding: 2.5rem 2rem;
    margin-inline: auto;

    h1 div {
        display: inline-block;
        overflow: hidden;
        height: 5rem;
        width: min-content;
        vertical-align: bottom;
    }

    h1 span:nth-child(1), h1 span:nth-child(4) {
        color: var(--snitap-sky-mid);
    }
    h1 span:nth-child(2) {
        color: var(--snitap-joy-mid);
    }
    h1 span:nth-child(3) {
        color: var(--snitap-leaf-mid);
    }
    
    h1 span {
        display: block;
        /* border: 1px solid red; */

        animation: slideUp 7s infinite ease-in-out;
    }
    
}

@keyframes slideUp {
    0%, 20% {
        transform: translateY(0);
    }

    25% {
        transform: translateY((-5rem));

    }


    25%, 45% {
        transform: translateY(-5rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    50%, 70% {
        transform: translateY(-10rem);
    }

    75% {
        transform: translateY(-15rem);
    }

    75%, 95% {
        transform: translateY(-15rem);
    }
    100% {
        transform: translateY(-15rem);
    }
}

@media (width <= 23.438rem) {
    
    .hero {
        --max-width: 375px;
        width: min(var(--max-width), 100% - var(--px-lg) );
        margin-inline: auto;

        h1 {
            font-size: var(--text-lg);
        }
    }
}

#patins-hero {
    width: 100%;
    height: 28.85rem;

}

.patins-box {
    position: relative;

    width: 30.5rem;
    height: 30.5rem;
    background-color: var(--snitap-sky-light);
    border-radius: 50%;
}