@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100dvh;
}

.menu-icon {
    height: 24px;
    width: 24px;
}

/*---------------------*/
.container-head {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    
}